body {
    background-color:rgb(215, 215, 255);
}
#barraNavegacion {
    background-color:rgb(174, 174, 240)!important;
}

.Rubia {
    background-image: url(./img/producto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Negra {
    background-image: url(./img/producto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Roja {
    background-image: url(./img/roja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Honey {
    background-image: url(./img/producto4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Ipa {
    background-image: url(./img/ipa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Pale {
    background-image: url(./img/pale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contenedorTarjetas {
    width: 300px;
    height: 350px;
    padding: 15px;
    
    
}

.margenTarjetas {
    margin: 10px 100px;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.842);
}

.nombreTarjeta {
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

/* .divCarritoLista{ width:100%;} */


main {
    width: 100%;
    height: 100%;
}


.ocultar {
    /* display: none; */
    opacity: 0;
}